# KiCad backup / autosave
*.bak
*.bck
*-backups/
*.tmp
*.tmp.*
*.old
*.save
*.autosave
*#auto_saved_*
*_autosave*
*.lck
# KiCad cache & info files
*.kicad_prl
fp-info-cache
sym-lib-table-bak
fp-lib-table-bak

# Netlist, BOM, CAD and export outputs
*.xml
*.net
*.dsn
*.json
*.pos
*.rpt
*.csv
*.bom
*.gbr
*.gtl
*.gbl
*.gts
*.gbs
*.gto
*.gbo
*.drl
*.zip

# 3D Rendering / STEP / VRML exports
*.step
*.stp
*.wrl

# Simulation files
*.cir
*.sp
*.raw
*.log
*.plt

# Metadata from OS
.DS_Store
Thumbs.db

# Python cache (KiCad plugins/scripts)
__pycache__/
*.pyc

# ESP-IDF build system
build/
sdkconfig
sdkconfig.old
*.o
*.d
*.a
*.elf
*.bin
*.map

# ESP-IDF dependencies
dependencies.lock
managed_components/
